Playground/scenario-8/xfusioncorp-complaint-lookup.json
{
  "name": "xFusionCorp Complaint Lookup",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "a8010001-8001-4000-a801-000000000001",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/root/mock-data/xfusioncorp-customer-complaints.json"
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [220, 0],
      "id": "a8010001-8001-4000-a801-000000000002",
      "name": "Read Complaints"
    },
    {
      "parameters": {
        "operation": "json"
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [440, 0],
      "id": "a8010001-8001-4000-a801-000000000003",
      "name": "Extract From File"
    },
    {
      "parameters": {
        "jsCode": "// Get all complaint items\nconst items = $input.all().map(i => i.json);\n\n// Return all complaints as a formatted summary for the AI agent\nconst summary = items.map(c => {\n  return `TICKET: ${c.ticket_id} | CUSTOMER: ${c.customer_name} | ACCOUNT: ${c.account_number} | PRODUCT: ${c.product} | REGION: ${c.region} | CHANNEL: ${c.channel} | SUBJECT: ${c.subject} | DESCRIPTION: ${c.description}`;\n}).join('\\n\\n');\n\nreturn [{ json: { complaints_data: summary, total_tickets: items.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "id": "a8010001-8001-4000-a801-000000000004",
      "name": "Search Complaints"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Read Complaints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Complaints": {
      "main": [
        [
          {
            "node": "Extract From File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract From File": {
      "main": [
        [
          {
            "node": "Search Complaints",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {},
  "id": "",
  "tags": []
}
