Playground/scenario-1/xfusioncorp-daily-subscriber-report.json
{
  "name": "xFusionCorp Daily Subscriber Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysBetweenTriggers": 1,
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "id": "a1b2c3d4-1001-4000-a001-000000000001",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/root/.n8n-files/xfusioncorp-subscriber-report.csv"
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [220, 0],
      "id": "a1b2c3d4-1001-4000-a001-000000000002",
      "name": "Read Subscriber CSV"
    },
    {
      "parameters": {
        "operation": "csv"
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [440, 0],
      "id": "a1b2c3d4-1001-4000-a001-000000000003",
      "name": "Extract From File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a xFusionCorp business analyst. Analyze the following subscriber data and generate a professional daily executive report.\n\nDATA:\n{{ JSON.stringify($input.all().map(item => item.json)) }}\n\nGenerate the report in this format:\n1. HEADLINE: One-line summary of the day's performance\n2. KEY METRICS TABLE: Total subscribers by type (Prepaid, Postpaid, Fiber), total new activations, total churn, net adds\n3. REGIONAL HIGHLIGHTS: Best and worst performing regions\n4. ARPU ANALYSIS: Average revenue per user trends\n5. ALERTS: Any regions with negative net adds or concerning churn rates\n6. RECOMMENDATION: One actionable recommendation\n\nFormat the output as clean HTML suitable for email.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [660, 0],
      "id": "a1b2c3d4-1001-4000-a001-000000000004",
      "name": "AI Report Generator"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [660, 200],
      "id": "a1b2c3d4-1001-4000-a001-000000000005",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "YOUR_OPENAIAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "your-email@example.com",
        "subject": "=xFusionCorp Daily Subscriber Report — {{ new Date().toISOString().split('T')[0] }}",
        "emailType": "html",
        "message": "={{ $json.text }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [880, 0],
      "id": "a1b2c3d4-1001-4000-a001-000000000006",
      "name": "Send Email Report"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Subscriber CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Subscriber CSV": {
      "main": [
        [
          {
            "node": "Extract From File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract From File": {
      "main": [
        [
          {
            "node": "AI Report Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Report Generator": {
      "main": [
        [
          {
            "node": "Send Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Report Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {},
  "id": "",
  "tags": []
}
