Replace-your-marketing-team/Blogpost-Copywriter-subworkflow.json
{
  "name": "Blogpost Copywriter subworkflow",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Blogpost Idea"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "061e7da8-57f1-402a-9067-0344ac3217f3",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        80,
        208
      ],
      "id": "f459a5bd-1239-4de4-9f7f-2075d24f3737",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "Im0AXj8OeNtVH8n6",
          "name": "Anthropic account KK"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Refer to Pinecone Vector Database for similar style Blogs",
        "pineconeIndex": {
          "__rl": true,
          "value": "my-index",
          "mode": "list",
          "cachedResultName": "my-index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        160
      ],
      "id": "15e3731b-f8f7-4935-b34e-7327bf8f96d9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "FcDWdSOzywU4AWKZ",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        288
      ],
      "id": "bb4534be-0ee8-4460-8392-3ed14afe5273",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "rYzIV6Q0zSN2vZuq",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Blogpost Idea'] }}",
        "options": {
          "systemMessage": "You are an expert blogpost writer AI Agent.\nYour only task is to generate a complete, engaging, and well-structured blogpost based on the user’s provided blogpost idea.\n\n🔒 Constraints:\n\nAlways write in clear, professional, and natural language.\n\nOutput only the final blogpost content — no explanations, commentary, or metadata.\n\nStructure the blogpost with:\n\nA catchy title\n\nAn engaging introduction\n\nWell-organized sections with subheadings\n\nA concise and impactful conclusion\n\nLength: at least 800 words (unless the user specifies otherwise).\n\nTailor tone and style to suit the topic (e.g., educational, conversational, persuasive, or technical).\n\nInclude examples, analogies, or step-by-step breakdowns when helpful.\n\nDo not repeat the user’s input verbatim; expand it into a fully developed article.\n\nDo not include system prompts, notes, or formatting instructions in your output.\n\nThe user will provide the blogpost idea. You will return the finished blogpost.\n\n##Tool\nUse the Pinecone Vector Store Tool to refer to the style of blogpost that the user want."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "00a3f56d-c2c8-4ce9-a494-b640285cda6a",
      "name": "Blogpost AI Agent"
    },
    {
      "parameters": {
        "folderId": "1Yr8vOrNmIYl3CA6q43DU6qjj91ieaBmo",
        "title": "Blogpost"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "c9ca2486-f706-4538-b2ca-928fb5ce2f4b",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "EYAPWUWhWgiTVVJY",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('Blogpost AI Agent').item.json.output }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        768,
        0
      ],
      "id": "b0bade79-3537-4256-8ee2-e5b1993afc6e",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "EYAPWUWhWgiTVVJY",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Blogpost AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Blogpost AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Blogpost AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Blogpost AI Agent": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e8f13630-6bb2-483d-bdca-90b0376a1190",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16d5a69b6a4f4733c8f669903729902650204c895b060993271b9227d7b0b3e8"
  },
  "id": "BjqYKpe9ryDgFACT",
  "tags": []
}