Replace-your-marketing-team/Text-to-image-Subworflow.json
{
  "name": "Text-to-image Subworflow",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json['Image Idea Input'] }}"
            },
            {
              "content": "You are an expert Text-to-Image Generation Prompt Engineer, working inside an n8n automation.\nYour only task is to generate clear, vivid, and effective prompts to be passed into an image generation API.\nYou do not output any explanations, commentary, or formatting. Return only the prompt string to generate the image.\n\n🔒 Constraints:\n\nOutput a single-line, coherent prompt optimized for high-quality image generation.\n\nDo not include prompt metadata (e.g., aspect ratio, resolution, model name, seed).\n\nYou must not respond with markdown, code blocks, or labels. Output the prompt text only.\n\nDo not explain or summarize your reasoning. Output the final result only.\n\n🧠 Prompt Engineering Guidelines:\n\nTranslate vague descriptions into rich visual details.\n\nEnhance prompt with descriptors: lighting, mood, environment, composition, art style.\n\nUse cinematic or artistic keywords where relevant (e.g., \"digital art,\" \"studio lighting,\" \"depth of field\").\n\nResolve ambiguities. Clarify unclear requests into visually distinct concepts.\n\n✅ Your output should resemble this format:\n\n“A serene mountain lake at sunrise, surrounded by pine trees, mist rolling over the water, soft golden light, cinematic atmosphere, ultra-realistic style”",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        224,
        0
      ],
      "id": "398d2f99-e59f-495f-94c5-33e72be0d1b3",
      "name": "Image Prompt Agent",
      "credentials": {
        "openAiApi": {
          "id": "rYzIV6Q0zSN2vZuq",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.wavespeed.ai/api/v3/predictions/{{ $json.data.id }}/result",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        0
      ],
      "id": "c474d2b3-d47f-4568-b77c-19dba8cfe66c",
      "name": "Wavespeed Get",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wgrx2bF5FXfRDT0c",
          "name": "Wavespeed AI Credential"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.wavespeed.ai/api/v3/bytedance/seedream-v3",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "enable_base64_output",
              "value": "false"
            },
            {
              "name": "enable_sync_mode",
              "value": "false"
            },
            {
              "name": "guidance_scale",
              "value": "2.5"
            },
            {
              "name": "prompt",
              "value": "={{ $json.message.content }}"
            },
            {
              "name": "seed",
              "value": "-1"
            },
            {
              "name": "size",
              "value": "1024*1322"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        0
      ],
      "id": "da34c719-56ec-48fa-a8ed-1128c5c622b8",
      "name": "Wavespeed Post",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wgrx2bF5FXfRDT0c",
          "name": "Wavespeed AI Credential"
        }
      }
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        784,
        0
      ],
      "id": "cf2acbfc-2c8e-4dfd-b39c-eade54a9f88b",
      "name": "Wait 15 Seconds",
      "webhookId": "3193cf2a-28e8-466d-8c67-f2b3210780ab"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce3a92f2-004b-4472-8ce3-6c43c4fc882c",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1184,
        0
      ],
      "id": "ddf79b92-c5b6-4cb0-981c-27c17a7d0b68",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1200,
        240
      ],
      "id": "b6a1aa56-a636-41d3-869c-e5f2c5801ef2",
      "name": "Wait Another 15 Secs",
      "webhookId": "a1250377-5798-499f-b0b4-d5711cba9457"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Image Idea Input"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "b049466a-a144-47f5-ae83-605a38dcd97c",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Image Prompt Agent": {
      "main": [
        [
          {
            "node": "Wavespeed Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wavespeed Post": {
      "main": [
        [
          {
            "node": "Wait 15 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15 Seconds": {
      "main": [
        [
          {
            "node": "Wavespeed Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wavespeed Get": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Wait Another 15 Secs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Another 15 Secs": {
      "main": [
        [
          {
            "node": "Wavespeed Get",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Image Prompt Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "26682e94-d99f-4a90-bb2b-3428243131e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "16d5a69b6a4f4733c8f669903729902650204c895b060993271b9227d7b0b3e8"
  },
  "id": "zxDxAABkH72hqQK4",
  "tags": []
}