Playground/scenario-4/xfusioncorp-complaint-auto-triage.json
{
  "name": "xFusionCorp Complaint Auto-Triage",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "d1b2c3d4-4001-4000-d001-000000000001",
      "name": "When chat message received",
      "webhookId": "d1b2c3d4-4001-4000-d001-00000000000a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a xFusionCorp customer service triage AI. Your job is to analyze customer complaints and classify them.\n\nFor each complaint, you MUST return a JSON object with these fields:\n{\n  \"ticket_id\": \"the ticket ID if provided\",\n  \"category\": \"BILLING | NETWORK | ACCOUNT | RETENTION | ENTERPRISE\",\n  \"priority\": \"P1_CRITICAL | P2_HIGH | P3_MEDIUM | P4_LOW\",\n  \"sentiment\": \"ANGRY | FRUSTRATED | NEUTRAL | POSITIVE\",\n  \"assigned_team\": \"Billing Team | Network Operations | Account Security | Retention Team | Enterprise Solutions\",\n  \"summary\": \"One-sentence summary of the issue\",\n  \"recommended_action\": \"Specific first action to take\",\n  \"sla_response_time\": \"Response time per SOP (e.g., 15 minutes, 1 hour, 4 hours, 24 hours)\"\n}\n\nCLASSIFICATION RULES (per xFusionCorp SOP):\n- BILLING: Wrong charges, payment issues, disputes. Team: Billing Team.\n- NETWORK: Signal outage, slow speeds, connectivity. Team: Network Operations.\n- ACCOUNT: SIM swap, plan changes, security concerns. Team: Account Security.\n- RETENTION: Churn risk, competitor mentions, loyalty issues. Team: Retention Team.\n- ENTERPRISE: Business accounts, site surveys, managed services. Team: Enterprise Solutions.\n\nPRIORITY RULES:\n- P1_CRITICAL: Outage >1000 affected, security breach, enterprise SLA violation\n- P2_HIGH: Service outage >24h, disputes >PHP 5000, 8+ year retention risk\n- P3_MEDIUM: Intermittent issues, standard billing disputes, plan changes\n- P4_LOW: General inquiries, feature requests, positive feedback\n\nSENTIMENT ANALYSIS:\n- ANGRY: Threats (NTC complaints, legal action, switching), exclamation marks, strong negative language\n- FRUSTRATED: Repeated issues, \"already reported\", expressing disappointment\n- NEUTRAL: Factual description, no strong emotion\n- POSITIVE: Compliments, upgrade requests, general satisfaction"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "d1b2c3d4-4001-4000-d001-000000000002",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [160, 200],
      "id": "d1b2c3d4-4001-4000-d001-000000000003",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "YOUR_OPENAIAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [320, 200],
      "id": "d1b2c3d4-4001-4000-d001-000000000004",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [560, 0],
      "id": "d1b2c3d4-4001-4000-d001-000000000005",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {},
  "id": "",
  "tags": []
}
