Playground/scenario-9/xfusioncorp-provisioning-agent.json
{
  "name": "xFusionCorp Provisioning Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "b9020001-9002-4000-b902-000000000001",
      "name": "When chat message received",
      "webhookId": "b9020001-9002-4000-b902-00000000000a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are xFusionCorp's Service Provisioning AI Agent. You help frontline agents process customer service requests by calling provisioning tools.\n\nAVAILABLE TOOLS:\n1. Activate_Plan — Activate or change a customer's plan\n2. Schedule_Installation — Schedule fiber/broadband installation\n3. Process_SIM_Swap — Process SIM swap (stolen/damaged/upgrade)\n\nRULES:\n- Always confirm the action with the agent before executing\n- Verify account number is provided before calling any tool\n- For SIM swaps, remind the agent about the 3-of-5 verification requirement (SOP 5.1)\n- Log the confirmation code and share it with the agent\n- Be concise — agents are on calls with customers"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "b9020001-9002-4000-b902-000000000002",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [160, 200],
      "id": "b9020001-9002-4000-b902-000000000003",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "YOUR_OPENAIAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [320, 200],
      "id": "b9020001-9002-4000-b902-000000000004",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sseEndpoint": "http://localhost:5678/mcp/YOUR_MCP_PATH_HERE"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [480, 200],
      "id": "b9020001-9002-4000-b902-000000000005",
      "name": "MCP Client"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [560, 0],
      "id": "b9020001-9002-4000-b902-000000000006",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {},
  "id": "",
  "tags": []
}
