Playground/scenario-5/xfusioncorp-promo-auto-responder.json
{
  "name": "xFusionCorp Promo Auto-Responder",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        272
      ],
      "id": "62f274dc-10d1-41ae-adf3-4cea75995bf7",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "fileSelector": "/root/.n8n-files/xfusioncorp-promo-campaigns.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -416,
        272
      ],
      "id": "89d72e1a-f005-479e-b114-21bdc1b8544f",
      "name": "Read Campaign Data"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -192,
        272
      ],
      "id": "f6ca5569-4d51-4feb-8528-568a3b2b531f",
      "name": "Extract From File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || 'Customer replied: YES to xFiber Unli Upgrade promo' }}",
        "options": {
          "systemMessage": "=You are xFusionCorp's AI-powered campaign response system. You process customer replies to promotional SMS campaigns.\n\nACTIVE CAMPAIGNS:\n{{ JSON.stringify($input.all().map(i => i.json), null, 2) }}\n\nWhen a customer message comes in, you must:\n1. IDENTIFY which campaign the customer is responding to (match by keyword or context)\n2. MATCH the reply keyword to the campaign's reply_keywords mapping\n3. GENERATE a personalized response in a friendly, professional tone\n\nRESPONSE FORMAT:\n{\n  \"campaign_id\": \"matched campaign ID\",\n  \"campaign_name\": \"campaign name\",\n  \"customer_keyword\": \"the keyword they used\",\n  \"action\": \"the action from reply_keywords\",\n  \"response_message\": \"A personalized SMS response (max 160 characters)\",\n  \"next_step\": \"What system action should happen next (e.g., enroll, send details, opt-out)\"\n}\n\nRULES:\n- If the keyword doesn't match any campaign, ask the customer to reply with a valid keyword\n- Keep SMS responses under 160 characters\n- Be warm and use xFusionCorp brand voice (\"G lang!\" / \"xFusionCorp cares for you\")\n- For opt-outs, be respectful and confirm removal"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        32,
        272
      ],
      "id": "530e91e7-c5bd-45a8-838e-1b7dd642e592",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -32,
        480
      ],
      "id": "ceaaa63b-e4ff-43a3-9af3-9f84b7675cad",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "YOUR_OPENAIAPI_CREDENTIAL"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Campaign Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Campaign Data": {
      "main": [
        [
          {
            "node": "Extract From File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract From File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {},
  "id": "",
  "tags": []
}
