Playground/scenario-5/xfusioncorp-promo-auto-responder.json
{
  "name": "xFusionCorp Promo Auto-Responder",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-336, -144],
      "id": "8119cbb6-e601-44a4-898e-983784229f61",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "fileSelector": "/root/.n8n-files/xfusioncorp-promo-campaigns.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [-112, -144],
      "id": "4ecb6415-3d28-4241-98c8-987e95b80141",
      "name": "Read Campaign Data"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst binaryKey = Object.keys(items[0].binary)[0];\nconst base64Data = items[0].binary[binaryKey].data;\nconst jsonString = Buffer.from(base64Data, 'base64').toString('utf-8');\nconst campaigns = JSON.parse(jsonString);\nreturn campaigns.map(c => ({ json: c }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [112, -144],
      "id": "f6ca5569-4d51-4feb-8528-568a3b2b531f",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || 'Customer replied: YES to xFiber Unli Upgrade promo' }}",
        "options": {
          "systemMessage": "=You are xFusionCorp's AI-powered campaign response system. You process customer replies to promotional SMS campaigns.\n\nACTIVE CAMPAIGNS:\n{{ JSON.stringify($input.all().map(i => i.json), null, 2) }}\n\nWhen a customer message comes in, you must:\n1. IDENTIFY which campaign the customer is responding to (match by keyword or context)\n2. MATCH the reply keyword to the campaign's reply_keywords mapping\n3. GENERATE a personalized response in a friendly, professional tone\n\nRESPONSE FORMAT:\n{\n  \"campaign_id\": \"matched campaign ID\",\n  \"campaign_name\": \"campaign name\",\n  \"customer_keyword\": \"the keyword they used\",\n  \"action\": \"the action from reply_keywords\",\n  \"response_message\": \"A personalized SMS response (max 160 characters)\",\n  \"next_step\": \"What system action should happen next (e.g., enroll, send details, opt-out)\"\n}\n\nRULES:\n- If the keyword doesn't match any campaign, ask the customer to reply with a valid keyword\n- Keep SMS responses under 160 characters\n- Be warm and use xFusionCorp brand voice (\"G lang!\" / \"xFusionCorp cares for you\")\n- For opt-outs, be respectful and confirm removal"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [336, -144],
      "id": "0c01d676-5106-4142-818f-57f7ac441c2c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [272, 64],
      "id": "a5cc8306-31f1-424f-a177-d62a3d9e0a6a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "YOUR_OPENAIAPI_CREDENTIAL"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Campaign Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Campaign Data": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {},
  "id": "",
  "tags": []
}
