multi-agent-research-with-perplexity/multi-agent-research-with-perplexity-or-openai.json
{
  "name": "Daily AI News Digest with Perplexity Pro, GPT Format & Gmail Delivery",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "708a8c6b-d521-4dd3-a093-ddc21c95c122",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        1220,
        500
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "subject": "AI News Update in the last 24 hours",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "id": "645b1d90-c9f8-4ec9-9266-48eb3f6fa70c",
      "name": "Send a message",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2180,
        500
      ],
      "webhookId": "c90e86e9-2fcb-459d-8141-b9b819c3839b",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.choices[0].message.content }}",
        "options": {
          "systemMessage": "You are a helpful formatter assistant, you will receive a chunk of AI Headlines and news, your job is to format it such that it is in an easily readable format for email."
        }
      },
      "id": "2cfe4f99-2215-4a20-9d9a-b8c683c5eba4",
      "name": "Formatter AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1740,
        500
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "f7bc9b62-e051-430b-a269-395b22da6157",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1760,
        700
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Research Agent').item.json.id }}"
      },
      "id": "93da545a-da0d-4c65-ab59-962aa1257771",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1920,
        700
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": "sonar-pro",
        "messages": {
          "message": [
            {
              "content": "You are a cutting-edge AI news researcher. Every time you run, search for and retrieve the most recent developments in artificial intelligence published within the last 24 hours.\n\nFor each news item you return:\n- Include the full headline.\n- Provide a one-sentence summary.\n- Unfurl the full URL (no shortened links or footnote markers).\n- List the publication date and the source name.",
              "role": "system"
            },
            {
              "content": "What are the latest headlines in AI Development in the past 24 hours? Include any model launches or notable market news.",
              "role": "user"
            }
          ]
        },
        "options": {
          "searchRecency": "day"
        },
        "requestOptions": {}
      },
      "id": "3a109ff0-4f5e-4da3-bda9-6103923d9ad8",
      "name": "Research Agent",
      "type": "n8n-nodes-base.perplexity",
      "position": [
        1460,
        500
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Formatter AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Research Agent": {
      "main": [
        [
          {
            "node": "Formatter AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Research Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Formatter AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Formatter AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateId": "5469",
    "instanceId": "1c7b08fed4406d546caf4a44e8b942ca317e7e207bb9a5701955a1a6e1ce1843"
  },
  "tags": []
}
