Playground/scenario-10/xfusioncorp-operations-hub.json
{
  "name": "xFusionCorp Operations Hub",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "e1005001-1005-4000-e100-000000000001",
      "name": "When chat message received",
      "webhookId": "e1005001-1005-4000-e100-00000000000a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "# xFusionCorp Operations Hub — Master Agent\n\nYou are the xFusionCorp Operations Hub AI. You are the single point of contact for all operational queries. You route requests to specialized sub-agents based on the type of request.\n\n## Available Tools\n\n1. **Report_Generator** — Generates subscriber reports, revenue dashboards, and KPI summaries. Use when the user asks for reports, metrics, data summaries, or dashboards.\n\n2. **Complaint_Triage** — Classifies and triages customer complaints. Use when the user submits a customer complaint or asks about ticket classification.\n\n3. **SOP_Lookup** — Searches xFusionCorp's Standard Operating Procedures. Use when the user asks about policies, procedures, escalation rules, SLA targets, or guidelines.\n\n4. **Network_Diagnostics** — Analyzes network alarms and cell site performance. Use when the user asks about network issues, outages, cell site status, or incident analysis.\n\n## Routing Rules\n\n- For questions about \"how many subscribers\" or \"revenue\" or \"ARPU\" → Report_Generator\n- For customer complaint text or \"triage this\" → Complaint_Triage\n- For \"what's the SOP for\" or \"what's our policy\" → SOP_Lookup\n- For \"cell site down\" or \"network alarm\" or \"outage\" → Network_Diagnostics\n- For general questions, answer directly using your knowledge\n\n## Output Format\n\nAlways structure your responses with:\n1. Which tool(s) you consulted\n2. The answer or result\n3. Any recommended follow-up actions\n\nBe efficient — xFusionCorp operations teams need quick, actionable answers."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "e1005001-1005-4000-e100-000000000002",
      "name": "Master Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [160, 200],
      "id": "e1005001-1005-4000-e100-000000000003",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "YOUR_OPENAIAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [320, 200],
      "id": "e1005001-1005-4000-e100-000000000004",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "name": "Report_Generator",
        "description": "Generate xFusionCorp reports including subscriber counts, revenue dashboards, and KPI summaries. Pass the report request as input.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [100, 400],
      "id": "e1005001-1005-4000-e100-000000000005",
      "name": "Report_Generator"
    },
    {
      "parameters": {
        "name": "Complaint_Triage",
        "description": "Classify and triage xFusionCorp customer complaints. Pass the complaint text to get category, priority, sentiment, and team assignment.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [260, 400],
      "id": "e1005001-1005-4000-e100-000000000006",
      "name": "Complaint_Triage"
    },
    {
      "parameters": {
        "name": "SOP_Lookup",
        "description": "Search xFusionCorp Standard Operating Procedures for policies, escalation rules, SLA targets, billing procedures, and security protocols.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [420, 400],
      "id": "e1005001-1005-4000-e100-000000000007",
      "name": "SOP_Lookup"
    },
    {
      "parameters": {
        "name": "Network_Diagnostics",
        "description": "Analyze xFusionCorp network alarms, cell site performance, and incident data. Provides root cause analysis and recommended actions.",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [580, 400],
      "id": "e1005001-1005-4000-e100-000000000008",
      "name": "Network_Diagnostics"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [560, 0],
      "id": "e1005001-1005-4000-e100-000000000009",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Master Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Master Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Master Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Master Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Report_Generator": {
      "ai_tool": [
        [
          {
            "node": "Master Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Complaint_Triage": {
      "ai_tool": [
        [
          {
            "node": "Master Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SOP_Lookup": {
      "ai_tool": [
        [
          {
            "node": "Master Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Network_Diagnostics": {
      "ai_tool": [
        [
          {
            "node": "Master Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {},
  "id": "",
  "tags": []
}
