Playground/scenario-10/xfusioncorp-network-agent.json
{
  "name": "xFusionCorp Network Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "d1004001-1004-4000-d100-000000000001",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data }}",
        "options": {
          "systemMessage": "You are xFusionCorp's Network Diagnostic AI. Analyze cell site alarms and recommend actions.\nCommon patterns: \"Power backup failure\"=check generator/battery, \"Fiber cut\"=OTDR test+maintenance team, \"RRU failures\"=check power supply/VSWR, \"High traffic\"=load balancing/cell splits.\nAlways include: severity assessment, probable cause, recommended action, estimated restore time."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "d1004001-1004-4000-d100-000000000002",
      "name": "Network Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [160, 200],
      "id": "d1004001-1004-4000-d100-000000000003",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "YOUR_OPENAIAPI_CREDENTIAL"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Network Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Network Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {},
  "id": "",
  "tags": []
}
