Playground/scenario-6/xfusioncorp-promo-auto-responder.json
{
  "name": "xFusionCorp Promo Auto-Responder",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "f1b2c3d4-6001-4000-f001-000000000001",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/root/mock-data/xfusioncorp-promo-campaigns.json"
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [220, 0],
      "id": "f1b2c3d4-6001-4000-f001-000000000002",
      "name": "Read Campaign Data"
    },
    {
      "parameters": {
        "operation": "json"
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [440, 0],
      "id": "f1b2c3d4-6001-4000-f001-000000000003",
      "name": "Extract From File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput || 'Customer replied: YES to xFiber Unli Upgrade promo' }}",
        "options": {
          "systemMessage": "=You are xFusionCorp's AI-powered campaign response system. You process customer replies to promotional SMS campaigns.\n\nACTIVE CAMPAIGNS:\n{{ JSON.stringify($input.all().map(i => i.json), null, 2) }}\n\nWhen a customer message comes in, you must:\n1. IDENTIFY which campaign the customer is responding to (match by keyword or context)\n2. MATCH the reply keyword to the campaign's reply_keywords mapping\n3. GENERATE a personalized response in a friendly, professional tone\n\nRESPONSE FORMAT:\n{\n  \"campaign_id\": \"matched campaign ID\",\n  \"campaign_name\": \"campaign name\",\n  \"customer_keyword\": \"the keyword they used\",\n  \"action\": \"the action from reply_keywords\",\n  \"response_message\": \"A personalized SMS response (max 160 characters)\",\n  \"next_step\": \"What system action should happen next (e.g., enroll, send details, opt-out)\"\n}\n\nRULES:\n- If the keyword doesn't match any campaign, ask the customer to reply with a valid keyword\n- Keep SMS responses under 160 characters\n- Be warm and use xFusionCorp brand voice (\"G lang!\" / \"xFusionCorp cares for you\")\n- For opt-outs, be respectful and confirm removal"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [660, 0],
      "id": "f1b2c3d4-6001-4000-f001-000000000004",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [600, 200],
      "id": "f1b2c3d4-6001-4000-f001-000000000005",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "YOUR_OPENAIAPI_CREDENTIAL"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [760, 200],
      "id": "f1b2c3d4-6001-4000-f001-000000000006",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 0],
      "id": "f1b2c3d4-6001-4000-f001-000000000007",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Campaign Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Campaign Data": {
      "main": [
        [
          {
            "node": "Extract From File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract From File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {},
  "id": "",
  "tags": []
}
