Playground/scenario-6/xfusioncorp-incident-alarm-correlation.json
{
  "name": "xFusionCorp Incident & Alarm Correlation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-600, 200],
      "id": "a1b2c3d4-6001-4000-a001-000000000001",
      "name": "Manual Trigger"
    },
    {
      "parameters": {
        "fileSelector": "/root/.n8n-files/xfusioncorp-incidents.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [-360, 100],
      "id": "a1b2c3d4-6001-4000-a001-000000000002",
      "name": "Read Incidents"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [-140, 100],
      "id": "a1b2c3d4-6001-4000-a001-00000000000b",
      "name": "Parse Incidents"
    },
    {
      "parameters": {
        "fileSelector": "/root/.n8n-files/xfusioncorp-alarms.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [-360, 300],
      "id": "a1b2c3d4-6001-4000-a001-000000000003",
      "name": "Read Alarms"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [-140, 300],
      "id": "a1b2c3d4-6001-4000-a001-00000000000c",
      "name": "Parse Alarms"
    },
    {
      "parameters": {
        "jsCode": "const incidents = $('Parse Incidents').all().map(i => i.json);\nconst alarms = $input.all().map(i => i.json);\nconst now = new Date('2025-01-15T15:00:00Z');\n\nconst merged = incidents.map(inc => {\n  const alarm = alarms.find(a => a.site_id === inc.site_id);\n  const opened = new Date(inc.opened_at);\n  const resolved = inc.resolved_at ? new Date(inc.resolved_at) : now;\n  const hoursElapsed = Math.round((resolved - opened) / (1000 * 60 * 60) * 10) / 10;\n  const slaBreach = hoursElapsed > inc.sla_hours;\n\n  return {\n    json: {\n      ...inc,\n      alarm_id: alarm ? alarm.alarm_id : null,\n      alarm_type: alarm ? alarm.alarm_type : 'N/A',\n      severity: alarm ? alarm.severity : 'N/A',\n      triggered_at: alarm ? alarm.triggered_at : null,\n      hours_elapsed: hoursElapsed,\n      sla_breached: slaBreach,\n      status: inc.resolved_at ? 'RESOLVED' : 'OPEN'\n    }\n  };\n});\n\nreturn merged;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [140, 300],
      "id": "a1b2c3d4-6001-4000-a001-000000000005",
      "name": "Correlate & Calculate SLA"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.priority }}",
              "rightValue": "P1",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "condition-2",
              "leftValue": "={{ $json.sla_breached }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [380, 300],
      "id": "a1b2c3d4-6001-4000-a001-000000000006",
      "name": "Is Critical or Breached?"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst rows = items.map(item => {\n  const d = item.json;\n  const rowColor = d.sla_breached ? '#ffe0e0' : (d.priority === 'P1' ? '#fff3e0' : '#e8f5e9');\n  const statusBadge = d.status === 'OPEN'\n    ? '<span style=\"color:#fff;background:#ff4444;padding:2px 8px;border-radius:4px;\">OPEN</span>'\n    : '<span style=\"color:#fff;background:#44bb44;padding:2px 8px;border-radius:4px;\">RESOLVED</span>';\n  const slaBadge = d.sla_breached\n    ? '<span style=\"color:#fff;background:#ff4444;padding:2px 8px;border-radius:4px;\">BREACHED</span>'\n    : '<span style=\"color:#fff;background:#44bb44;padding:2px 8px;border-radius:4px;\">OK</span>';\n\n  return `<tr style=\"background:${rowColor}\">\n    <td style=\"padding:8px;border:1px solid #ddd;\">${d.incident_id}</td>\n    <td style=\"padding:8px;border:1px solid #ddd;\">${d.site_id}</td>\n    <td style=\"padding:8px;border:1px solid #ddd;\">${d.region}</td>\n    <td style=\"padding:8px;border:1px solid #ddd;\">${d.priority}</td>\n    <td style=\"padding:8px;border:1px solid #ddd;\">${d.category}</td>\n    <td style=\"padding:8px;border:1px solid #ddd;\">${d.alarm_type} (${d.severity})</td>\n    <td style=\"padding:8px;border:1px solid #ddd;\">${statusBadge}</td>\n    <td style=\"padding:8px;border:1px solid #ddd;\">${d.hours_elapsed}h / ${d.sla_hours}h</td>\n    <td style=\"padding:8px;border:1px solid #ddd;\">${slaBadge}</td>\n  </tr>`;\n}).join('');\n\nconst html = `\n<div style=\"font-family:Arial,sans-serif;max-width:900px;margin:0 auto;\">\n  <h2 style=\"color:#1a237e;\">xFusionCorp Daily Incident &amp; Alarm Correlation Report</h2>\n  <p style=\"color:#555;\">Generated: ${new Date().toISOString().split('T')[0]} | Flagged Items: ${items.length} (P1 or SLA Breached)</p>\n  <table style=\"border-collapse:collapse;width:100%;font-size:13px;\">\n    <thead>\n      <tr style=\"background:#1a237e;color:#fff;\">\n        <th style=\"padding:8px;border:1px solid #ddd;\">Incident ID</th>\n        <th style=\"padding:8px;border:1px solid #ddd;\">Site ID</th>\n        <th style=\"padding:8px;border:1px solid #ddd;\">Region</th>\n        <th style=\"padding:8px;border:1px solid #ddd;\">Priority</th>\n        <th style=\"padding:8px;border:1px solid #ddd;\">Category</th>\n        <th style=\"padding:8px;border:1px solid #ddd;\">Alarm</th>\n        <th style=\"padding:8px;border:1px solid #ddd;\">Status</th>\n        <th style=\"padding:8px;border:1px solid #ddd;\">Elapsed / SLA</th>\n        <th style=\"padding:8px;border:1px solid #ddd;\">SLA Status</th>\n      </tr>\n    </thead>\n    <tbody>${rows}</tbody>\n  </table>\n  <hr style=\"margin:20px 0;\">\n  <p style=\"font-size:12px;color:#888;\">This is an automated report from xFusionCorp Network Operations. Items shown are P1 priority or have breached SLA targets.</p>\n</div>`;\n\nreturn [{ json: { html } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 200],
      "id": "a1b2c3d4-6001-4000-a001-000000000007",
      "name": "Generate Report"
    },
    {
      "parameters": {
        "sendTo": "your-email@example.com",
        "subject": "=xFusionCorp Incident & Alarm Correlation Report — {{ new Date().toISOString().split('T')[0] }}",
        "emailType": "html",
        "message": "={{ $json.html }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [860, 200],
      "id": "a1b2c3d4-6001-4000-a001-000000000008",
      "name": "Gmail",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "YOUR_GMAIL_CREDENTIAL"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Incidents",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Alarms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Incidents": {
      "main": [
        [
          {
            "node": "Parse Incidents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Alarms": {
      "main": [
        [
          {
            "node": "Parse Alarms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Alarms": {
      "main": [
        [
          {
            "node": "Correlate & Calculate SLA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correlate & Calculate SLA": {
      "main": [
        [
          {
            "node": "Is Critical or Breached?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical or Breached?": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {},
  "id": "",
  "tags": []
}
