building-first-ai-agent/building-your-first-ai-email-agent-on-n8n.json
{
 "name": "Beginner Workflow",
 "nodes": [
   {
     "parameters": {
       "promptType": "define",
       "text": "={{ $json.chatInput }}",
       "options": {}
     },
     "type": "@n8n/n8n-nodes-langchain.agent",
     "typeVersion": 2,
     "position": [
       220,
       0
     ],
     "id": "62a1affd-69ff-4606-8705-b020eef86819",
     "name": "AI Agent"
   },
   {
     "parameters": {
       "model": {
         "__rl": true,
         "mode": "list",
         "value": "gpt-4.1-mini"
       },
       "options": {}
     },
     "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
     "typeVersion": 1.2,
     "position": [
       160,
       200
     ],
     "id": "e6e1e150-aced-4800-8751-24aa06653b1e",
     "name": "OpenAI Chat Model",
     "credentials": {
       "openAiApi": {
         "id": "",
         "name": "YOUR_OPENAIAPI_CREDENTIAL"
       }
     }
   },
   {
     "parameters": {
       "sendTo": "youremail@example.com",
       "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
       "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
       "options": {}
     },
     "type": "n8n-nodes-base.gmailTool",
     "typeVersion": 2.1,
     "position": [
       480,
       200
     ],
     "id": "5be6edfa-58a3-48ec-aa06-6a17c658ff23",
     "name": "Gmail",
     "webhookId": "648f8d7f-f521-4aa9-9848-40e672713ed9",
     "credentials": {
       "gmailOAuth2": {
         "id": "",
         "name": "YOUR_GMAILOAUTH2_CREDENTIAL"
       }
     }
   },
   {
     "parameters": {},
     "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
     "typeVersion": 1.3,
     "position": [
       320,
       200
     ],
     "id": "7fa95766-cf3e-406b-b750-0fa75602288c",
     "name": "Simple Memory"
   },
   {
     "parameters": {
       "options": {}
     },
     "type": "@n8n/n8n-nodes-langchain.chatTrigger",
     "typeVersion": 1.1,
     "position": [
       0,
       0
     ],
     "id": "2b32001a-6663-4d8e-b7dc-2e37439d2c36",
     "name": "When chat message received",
     "webhookId": "ab827632-5e05-46ed-9bcf-59bbbc7e07c7"
   },
   {
     "parameters": {},
     "type": "n8n-nodes-base.noOp",
     "typeVersion": 1,
     "position": [
       560,
       0
     ],
     "id": "9f5dc6e3-e123-4028-9f37-d71600a0cd5b",
     "name": "No Operation, do nothing"
   }
 ],
 "pinData": {},
 "connections": {
   "AI Agent": {
     "main": [
       [
         {
           "node": "No Operation, do nothing",
           "type": "main",
           "index": 0
         }
       ]
     ]
   },
   "OpenAI Chat Model": {
     "ai_languageModel": [
       [
         {
           "node": "AI Agent",
           "type": "ai_languageModel",
           "index": 0
         }
       ]
     ]
   },
   "Gmail": {
     "ai_tool": [
       [
         {
           "node": "AI Agent",
           "type": "ai_tool",
           "index": 0
         }
       ]
     ]
   },
   "Simple Memory": {
     "ai_memory": [
       [
         {
           "node": "AI Agent",
           "type": "ai_memory",
           "index": 0
         }
       ]
     ]
   },
   "When chat message received": {
     "main": [
       [
         {
           "node": "AI Agent",
           "type": "main",
           "index": 0
         }
       ]
     ]
   }
 },
 "active": false,
 "settings": {
   "executionOrder": "v1"
 },
 "versionId": "",
 "meta": {},
 "id": "",
 "tags": []
}

